.chatContainer{
    height: 100vh;
    color:white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #7a0029;
    .container {
      height: 85vh;
      width: 85vw;
      background-color: #450117;
      display: grid;
      grid-template-columns: 25% 75%;
      @media screen and (min-width: 720px) and (max-width: 1080px) {
        grid-template-columns: 35% 65%;
      }
    }
}