.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background-color: #A10035;
    height: 100vh;
    width: 100vw;
    .loader {
      max-inline-size: 100%;
    }
    .titleContainer {
      h1 {
        color: white;
      }
    }
    .avatarContainer {
      display: flex;
      gap: 2rem;
      .avatar {
        border: 0.4rem solid transparent;
        padding: 0.4rem;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease-in-out;
        img {
          height: 6rem;
          transition: 0.5s ease-in-out;
        }
      }
      .selected {
        border: 0.4rem solid #FEC260;
      }
    }
    .submitBtn {
      background-color: #FEC260;
      color: white;
      padding: 1rem 2rem;
      border: none;
      font-weight: bold;
      cursor: pointer;
      border-radius: 0.4rem;
      font-size: 1rem;
      text-transform: uppercase;
      &:hover {
        background-color: #4e0eff;
      }
    }
}